{% extends "layouts/dashboard.twig" %}
{% block content %}
  <h2 class="headline">{{ talk.title }}</h2>

  <p>{{ talk.description|markdown }}</p>

  {% if talk.key_takeaway is defined %}
      <p><strong>Key takeaways:</strong> {{ talk.key_takeaway|striptags|markdown }}</p>
  {% endif %}

  {% if talk.video_pitch_url is defined %}
      <p><strong>Video Pitch URL:</strong> <a href="{{ talk.video_pitch_url|striptags }}">{{ talk.video_pitch_url|striptags }}</a></p>
  {% endif %}

  <p><strong>Other Info:</strong> {{ talk.other|markdown }}</p>

  <p><strong>Slides:</strong> <a href="{{ talk.slides }}">{{ talk.slides }}</a></p>
  <p><strong>Type:</strong> {{ talkHelper.getTypeDisplayName(talk.type) }}</p>
  <p><strong>Level:</strong> {{ talkHelper.getLevelDisplayName(talk.level) }}</p>
  <p><strong>Category:</strong> {{ talkHelper.getCategoryDisplayName(talk.category) }}</p>
  <p><strong>Given this talk before:</strong> {% if talk.given_before is defined %}{{ talk.given_before ? 'Yes' : 'No' }}{% endif %}</p>
  <p>{% if talk.given_before is defined and talk.place_given_before is defined  %}<strong>Where?:</strong> {{ talk.place_given_before | striptags }}{% endif %}</p>
  <p><strong>Videos URL:</strong> {% if talk.videos_urls is defined %}{{ talk.videos_urls }}{% endif %}</p>
  <p><strong>Slides URL:</strong> {% if talk.slides_urls is defined %}{{ talk.slides_urls }}{% endif %}</p>
  <p><strong>Other events:</strong> {% if talk.other_events is defined %}{{ talk.other_events }}{% endif %}</p>
  <p><strong>Desired:</strong> {% if talk.desired is defined %}{{ talk.desired ? 'Yes' : 'No' }}{% endif %}</p>
{% endblock %}
