<form action="{{ formAction }}" method="POST" class="form-horizontal">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-talk-title" class="col-sm-2 control-label">Talk/Workshop Title *</label>
        <div class="col-sm-10">
            <input required id="form-talk-title" type="text" name="title" class="form-control" placeholder="Talk/Workshop Title" value="{{ title }}" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-description" class="col-sm-2 control-label">Description (max. 700 characters, no bullet points) *</label>
        <div class="col-sm-10">
            <textarea required id="form-talk-description" name="description" class="form-control" placeholder="Give a description of your talk/workshop (Abstract)" rows="10">{{ description }}</textarea>
            <p class="help-block">Speaker abstract can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-key_takeaway" class="col-sm-2 control-label">Key takeaway</label>
        <div class="col-sm-10">
            <textarea id="form-talk-key_takeaway" name="key_takeaway" class="form-control" placeholder="What is the key message that the audience will take away with them?" rows="5">{{ key_takeaway }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-other" class="col-sm-2 control-label">Other notes (directed at our review team)</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other" name="other" class="form-control" rows="10">{{ other }}</textarea>
            <p class="help-block">Add any technical requirements for your talk or workshop, workshop audience size, etc.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-type" class="col-sm-2 control-label">Application Type *</label>
        <div class="col-sm-10">
            <select required id="form-talk-type" name="type" class="form-control">
                {% for typeKey, displayType in talkTypes %}
                    <option value="{{ typeKey }}" {% if type == typeKey %}selected {% endif %} {% if 'workshop' in typeKey %}disabled {% endif %}>{{ displayType }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-category" class="col-sm-2 control-label">Category *</label>
        <div class="col-sm-10">
            <select required id="form-talk-category" name="category" class="form-control">
                {% for categoryKey, displayCategory in talkCategories %}
                    <option value="{{ categoryKey }}" {% if category == categoryKey %}selected {% endif %}>{{ displayCategory }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-level" class="col-sm-2 control-label">Experience Level *</label>
        <div class="col-sm-10">
            <select required id="form-talk-level" name="level" class="form-control">
                {% for levelKey, displayLevel in talkLevels %}
                    <option value="{{ levelKey }}" {% if level == levelKey %}selected {% endif %}>{{ displayLevel }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-slides" class="col-sm-2 control-label">Slides</label>
        <div class="col-sm-10">
            <input id="form-talk-slides" type="text" name="slides" class="form-control" placeholder="Slides URL (if exists)" value="{{ slides }}">
        </div>
    </div>

    <div class="form-group">
        <label for="form-given_before" class="col-sm-2 control-label">Have you given this talk/workshop before? *</label>
        <div class="col-sm-10">
            <div class="radio">
                <label for="form-given_before">
                    <input id="form-given_before" name="given_before" type="radio" value="1" {% if given_before == '1' %}checked{% endif %}> Yes
                </label>
            </div>
            <div class="radio">
                <label for="form-given_before_no">
                    <input id="form-given_before_no" name="given_before" type="radio" value="0" {% if given_before != '1' %}checked{% endif %}> No
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-place_given_before" class="col-sm-2 control-label">If yes, what event incl. year?</label>
        <div class="col-sm-10">
            <input id="form-talk-place_given_before" type="text" name="place_given_before" class="form-control" placeholder="" value="{{ place_given_before }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-videos_urls" class="col-sm-2 control-label">Link to video of your previous talks</label>
        <div class="col-sm-10">
            <textarea id="form-talk-videos_urls" name="videos_urls" class="form-control" rows="3">{{ videos_urls }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="form-talk-slides_urls" class="col-sm-2 control-label">Link to slides of previous talks/workshops</label>
        <div class="col-sm-10">
            <input id="form-talk-slides_urls" type="text" name="slides_urls" class="form-control" value="{{ slides_urls }}">
        </div>
    </div>

    <div class="form-group">
        <label for="form-talk-other_events" class="col-sm-2 control-label">What other events have you spoken at?</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other_events" name="other_events" class="form-control" placeholder="" rows="3">{{ other_events }}</textarea>
        </div>
    </div>



    <div class="form-group">
        <label for="form-desired" class="col-sm-2 control-label">Preferred Submission</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-desired">
                    <input id="form-desired" name="desired" type="checkbox" value="1" {% if desired == '1' %}checked{% endif %}> If you submit several talk ideas, Is this your preferred submission?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
