{% extends "layouts/dashboard.twig" %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
function deleteTalk(tid) {
    $.ajax({
        type: "POST",
        url: "/talk/delete",
        data: "tid=" + tid + "&user_id=" + {{ user.id }},
        success: function(data, textStatus, jqXHR) {
            if (data.delete == 'ok') {
                alert("Deleted talk!");
                $("#talk-"+tid).remove();
            } else if (data.delete == 'no-user') {
                alert("You must be logged in to delete talks")
            } else {
                alert("Unable to delete talk");
            }
        }
    });
}
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p><a href="{{ url('user_edit', { id: user.id }) }}" class="btn btn-default pull-right">Edit Profile</a></p>
            <h2 class="headline pull-left">My Profile</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br />
            <strong>Name:</strong> {{ profile.name }}<br>
            {% if profile.twitter %}
                <strong>Twitter:</strong> <a href="https://twitter.com/@{{ profile.twitter }}" title="{{ profile.name }} on Twitter">@{{ profile.twitter }}</a><br />
            {% endif %}
            <strong>Company:</strong> {{ profile.company }}<br />
            <strong>Nationality:</strong> {{ profile.nationality }}<br />
            <strong>WordPress.org username:</strong> {{ profile.wporg }}<br />
            <strong>Making WordPress Slack username:</strong> {{ profile.slack }}<br />
            <strong>Bio:</strong> {{ profile.bio|striptags|markdown }}<br /><br />
            <strong>Other Info:</strong> {{ profile.info|striptags|markdown }}<br /><br />


        </div>
    </div>

    <h2 class="headline">My Submitted Applications</h2>
    {% if profile.talks is not empty %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Application Name</th>
                <th>Type</th>
                <th>Category</th>
                <th>Created On</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for talk in profile.talks %}
            <tr id="talk-{{ talk.id }}">
                <td><b><a href="{{ url('talk_view', { id: talk.id }) }}">{{ talk.title|raw }}</a></b></td>
                <td>{{ talkHelper.getTypeDisplayName(talk.type) }}</td>
                <td>{{ talkHelper.getCategoryDisplayName(talk.category) }}</td>
                <td>{{ talk.created_at|date("F jS \\a\\t g:ia T") }}</td>
                {% if cfp_open %}
                    <td><a href="{{ url('talk_edit', { id: talk.id }) }}">Edit</a></td>
                {% else %}
                    <td><a href="{{ url('talk_view', { id: talk.id }) }}">View</a></td>
                {% endif %}
                <td><a href="#" onClick="deleteTalk('{{ talk.id }}');return false;">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        You currently have no talks submitted.
    {% endif %}
    <div class="row">
        <div class="col-md-offset-9 col-md-3">
            <p class="pull-right"><a class="btn btn-success" href="{{ url('talk_new') }}">Submit a new Talk{#/Workshop#}</a></p>
        </div>
    </div>

{% endblock %}
